/* Theme */

#theme { 
 font-family: 'courierprime', monospace;
 font-size: 13px;
 margin: 0;
 padding: 0;
 white-space: pre-wrap;
}

@font-face {
    font-family: courierprime;
    src: url(Courier-Prime/Courier Prime.ttf);
    font-weight: normal;
    font-style: normal;	    
}

@font-face {
    font-family: courierprime;
    src: url(Courier-Prime/Courier Prime Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: courierprime;
    src: url(Courier-Prime/Courier Prime Italic.ttf);
    font-weight: normal;
    font-style: italic;	    
}

/*
@font-face {
    font-family: free-mono;
    src: url(gnu-freefont_freemono/FreeMono.otf);
    font-weight: normal;
    font-style: normal;	    
}

@font-face {
    font-family: free-mono;
    src: url(gnu-freefont_freemono/FreeMonoBold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: free-mono;
    src: url(gnu-freefont_freemono/FreeMonoOblique.otf);
    font-weight: normal;
    font-style: italic;	    
}
*/

/* Container */

#all {
 margin: auto;
 width: 70ch;
}


/****************/
/* Pied de page */
/****************/

#footer {
	position:relative;
	width:100%;
}

/* Liens */

a { text-decoration: none;
  color: rgb(0, 51, 102);
 }

a:hover { 
  color: #848483;
  border-bottom:1px dotted #848483;
 } /* lien survol par le curseur de la souris */


/* Texte */

p { 
 margin-top:0;
 margin-bottom:0;
 margin-right: 0;
 padding-left: 10px;
 padding-right: 0px;
 text-align: left;
}
#slideshow {
    margin: 0;
  }
  
  .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: 0;
  }
  
  .mySlides {
    display: none;
    position: absolute;
    width: 100%; /* Make sure each slide takes up the full width */
    top: 0; /* Ensure slides are at the top of the container */
  }
  
  img {
    max-width: 94%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  table {
    width: 100%;
    max-width: 70ch; /* Adjust the max-width based on your layout */
    margin: auto;
    
  }
  .image-cell {
    width: 25%; /* Adjust the width of the image column */
    vertical-align: top; /* Align at the top */
  }

  .text-cell {
    width: 75%; /* The text column will take the remaining width */
    vertical-align: top; /* Align at the top */
  }
  
  .prev,
  .next {
    position: absolute;
    top: 0;
    font-size: 20px;
    font-weight: bold;
    color: #010101;
    padding: 1px;
    border: 1px solid #000;
    cursor: pointer;

  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  
  article {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
